.layout {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
}
.main {
  min-height: 50vh;
  margin-top: 2rem;
}

.bgOrange{
  background-color: #FC9324;
}
.breadcrumbItem {
  text-decoration: none !important;
  font-weight: bold;
  color: #447a2b!important;
  text-align: center;
  
}
.breadcrumbItem:hover {
  color: #67ac56!important;
}
.breadcrumbItem > a{
  font-weight: bold;
  color: #e89e4e!important;
  text-decoration: underline !important;
}
.breadcrumbItem > a:hover{
  color: #ffffff!important;
  text-decoration: none !important;
}