.layout {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
}
.main {
  min-height: 50vh;
  margin-top: 2rem;
}
.imageWrapper {
  box-sizing: content-box;
  width: 100%;
}
.bgOrange{
  background-color: #FC9324;
}